$blue: blue;
$blue-1 :#7179ec;
$blue-2 :#3a42b8;
$blue-3 :#060c53;
$blue-4 :#0b1bf5;
$blue-5 :#1d084e;
$blue-6 :#105fa8;
$blue-7 :#0ed2ec;
$blue-8 :#7179ec;
$blue-9 :#71c5ec;
$blue-10 :#25599e;
$blue-11 :#0a9696;
$blue-12 :#347072;
$purple: purple;
$purple-1:#52043a;
$purple-2:#832a68;
$purple-3:#bd0b87;
$purple-4:#f032b7;
$purple-5:#3b1831;
$purple-6:#991399;
$purple-7:#701279;
$purple-8:#3f0f55;
$red: red;
$red-1:#ee6565;
$red-2:#ec3c3c;
$red-3:#f01111;
$red-4:#b31313;
$red-5:#640505;
$red-6:#380b0b;
$red-7:#550b11;
$red-8:#bb2840;
$black:black;
$black-1:#000;
$black-2:#252424;
$black-3:#302c2c;
$black-5:#3f3d3d;
$black-4:#0e0b0b;
$black-6:#140e0e;
$black-7:#383333;
$yellow: yellow;
$yellow-1:#dd9c77;
$yellow-2:#d66523;
$yellow-3:#9e4714;
$yellow-4:#ddce77;
$yellow-5:#d3df33;
$yellow-6:#a6a819;
$yellow-7:#88862e;
$yellow-8:#504619;
$yellow-9:#bbbe09;
$green:green;
$green-1:#33eea0;
$green-9:#18b976;
$green-3:#249465;
$green-5:#236348;
$green-4:#0b4b30;
$green-6:#acee33;
$green-7:#56af0d;
$green-8:#207e20;
$green-2:#3cb646;
$green-10:#116315;
// ------
$black-100: rgba(0, 0, 0, 1);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
//White
$white-100: rgba(255, 255, 255, 1);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
//Invisible
$transparent: rgba(255, 255, 255, 0);
//COLORS
$light-grey: #e0dfe1;
$light-grey-A: #f0f0f0;
$grey: #9f9e9f;
$dark-grey: #222222;
$white: #ffffff;
$blue: #0190ec;
//BMW
$light-blue: #6295ca;
$dark-blue: #13274c;
$red: #d1253b;