$font-1: "Agency FB";
$font-2: "Bahnschrift Light SemiCondensed";
$font-3: "Baskerville Old Face";
$font-4: "Bell MT";
$font-27: "Bodoni Bk BT";
$font-29: "Bodoni MT";
$font-28: "Century725 Cn BT";
$font-30: "Cormorant Medium";
$font-32: "Cormorant Light";
$font-33: "Cormorant Light Italic";
$font-31: "DeVinne Txt BT";
$font-5: "Bodoni MT Condensed";
$font-6: "Bodoni MT Poster Compressed";
$font-7: "Edwardian Script ITC";
$font-8: "Imprint MT Shadow";
$font-9: "Kunstler Script";
$font-10: "Lucida Calligraphy";
$font-11:"Blackadder ITC";
$font-12: "Brush Script MT";
$font-13:"Freestyle Script";
$head-font-1: "Californian FB";
$head-font-2: "Footlight MT Light";
$head-font-5: "Microsoft JhengHei UI Light";
$head-font-3: "Playfair Display Medium";
$head-font-4:"Playfair Display";
$sub-head-font-1: "Gabriola";
$sub-head-font-2: "Century Schoolbook";
$sub-head-font-5: "Century ";
$sub-head-font-3:"Gloucester MT Extra Condensed";
$sub-head-font-4:"Playfair Display Black";
$link-font-1: "French Script MT";
$link-font-2: "Javanese Text";
$link-font-3: "Juice ITC";
$link-font-4:"Mongolian Baiti";
$link-font-5:"Old English Text MT";
$font-14:'Vladmir Script';
$font-15:'Vivaldi';
$font-26:'Amita';
$head-font-5:'Sitka Banner';
$head-font-6:'Respective 2.0';
$head-font-7:'Respective 2.0 Swashes';
$head-font-8:'Anguishop';
$head-font-24:'Arlina';
$head-font-25:'Bauhaus Closed';
$link-font-23:'Blacklunar Personal Use';
$head-font-48:'Bridger-Demo';
$link-font-49:'Bricklay Demo';
$head-font-40:'CentSchbkCyrill BT';
$head-font-27:'Century751 No2 BT';
$head-font-28:'Clarendon Lt BT';
$head-font-29:'Collingar DEMO';
$head-font-30:'Dust';
$head-font-31:'Elephant';
$head-font-32:'Mongolian Baiti';
$head-font-33:'wargika';
$head-font-34:'Unfair Shares';
$head-font-35:'Vanger';
$head-font-36:'Sulangor SemCond Slant';
$link-font-39:'Anguishop';
$fontink-font-27:'Fashionable T Demo';
$link-font-41:'Footlight MT Light';
$link-font-38:'Graffiti';
$link-font-30:'Loving Change Demo';
$link-font-31:'Marllgon';
$link-font-32:'Hergika';
$link-font-33:'Matrix Barcode';
$link-font-34:'Miracle World Personal Use';
$font-17:'Niagara Engraved';
$font-16:'Palace Script MT';
$link-font-7:'Script MT Bold';
$link-font-6:'Parchment';
$link-font-8:'RegencyScriptFLF';
$link-font-17:'Signarita Anne';
$link-font-18:'Garamond';
$link-font-19:'Lora';
$link-font-20:'Voga';
$link-font-21:'Schadow BT';
$link-font-22:'Abel';
$link-font-25:'Vanger';
$link-font-40:'Tahoma';
$link-font-24:'Tahoma';
$link-font-26:'Stanley';
$link-font-27:'Source Sans Pro SemiBold';
$link-font-28:'wargika';
$link-font-29:'Source Sans Pro ExtraLight';
$link-font-30:'Source Sans Pro Light';
$link-font-35:'Rubik Light';
$link-font-36:'Rubik Medium';
$font-18:'Pristina';
$font-19:'Lucida Bright';
$link-font-12:'Brotherhood Script';
$link-font-13:'Gloucester MT Extra Condensed';
$link-font-14:'Segoe UI Light';
$link-font-15:'MonteCarlo';
$link-font-16:'Modern No. 20';
$head-font-14:'The Greetings';
$head-font-15:'Nathalia';
$head-font-17:'Lora';
$head-font-16:'Raleway Light';
$link-font-11:'Baby Child';
$head-font-9:'Anything Better';
$head-font-10:'Anydore';
$head-font-11:'Coneria Script Demo';
$head-font-12:'Courgette';
$head-font-13:'Great Vibes';
$head-font-19:'GeoSlab703 MdCn BT';
$head-font-20:'Libre Bodoni';
$head-font-23:'Lato';
$head-font-50:'Gajkley';
$head-font-51:'Haiesley Sans Demo Condensed';
$head-font-26:'Rockwell';
$head-font-27:'Roboto';
$head-font-43:'Roboto Thin';
$head-font-44:'Rockwell Condensed';
$head-font-45:'Ramilan';
$head-font-46:'Rumania';
$head-font-47:'Poppins';
$head-font-48:'Ramisland';
$head-font-49:'Quahon';
$head-font-52:'GT Walsheim Pro Cond Medium';
$head-font-53:'Sitka Heading';
$font-38:'Alumni Sans Pinstripe';
$font-39:'Anek Telugu';
$font-40:'Anek Telugu Condensed ExtraLigh';
$font-41:'Oswald';
$font-42:'Polyglot-Demo';
$font-43:'Haiesley Sans Demo';
$font-44:'Oswald Light';
$font-45:'Montserrat';
$font-46:'Merriweather';
$font-47:'Gelisa';
$font-48:'Sofia Pro';
$font-49:'Sofia Pro Light';